* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0e1420;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-image: url(Backgroind.png);
  background-position: center;
  background-size: cover;
}

.welcome-container {
  text-align: center;
  color: rgba(255, 255, 0, 0.778);
  animation: fadeIn 1s ease-out;
  width: 100%;
  max-width: 1000px;
}

.welcome {
  font-family: 'Brush Script MT', cursive;
  font-size: clamp(110px, 10vw, 400px); /* Min 28px, max 60px */
  font-weight: 100;
  margin-bottom: 10px;
  margin-right: 40px;
}

.loop {
  font-size: clamp(60px, 5vw, 20px);
  font-weight: bold;
  letter-spacing: 2px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  color: White;
}

.loop .o {
  color: #f04a1e;
}

.loop .p {
  color: #b5cc1f;
}

.subtext {
  font-family: 'Brush Script MT', cursive;
  font-size: clamp(50px, 6vw, 70px);
  font-weight: 100;
  margin: 20px 0;
 color: rgba(255, 255, 0, 0.778);
}

.btn {
  margin-top: 20px;
  padding: clamp(15px, 1vw, 20px) clamp(15px, 2.5vw, 50px);
  background-color: #3b52d1;
  color: white;
  border: none;
  border-radius: 14px;
  font-size: clamp(16px, 3.5vw, 28px);
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn:hover {
  background-color: #2e42b7;
}

@keyframes fadeIn {
  0% { opacity: 0; transform: translateY(20px); }
  100% { opacity: 1; transform: translateY(0); }
}
